.profile {
  position: relative;
  border: 1px solid var(--color-line-default);
  border-radius: 0.25rem;
}

.header-box {
  background-color: #33a8ff;
  border-radius: 0.25rem 0.25rem 0 0;
  height: 5.875rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.basic {
    position: relative;
    height: 2.875rem;
  }
}

.main-box {
  position: relative;
  padding: 0.75rem;
}

@media only screen and (max-width: 960px) {
  .profile {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
