.card {
  border: 1px solid var(--color-line-default);
  /* margin-top: -1px; */
  /* transition: border 0.3s ease; */

  &:hover {
    /* border: 1px solid var(--color-line-hover); */
    position: relative;
    z-index: 1;
  }

  &.top {
    border-radius: 4px 4px 0px 0px;
  }

  &.all {
    border-radius: 4px 4px;
  }
}
