.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1.5rem 1.5rem 0.5rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 528px) {
    padding: 1.5rem 1rem 0.5rem;
  }
}
